Repository cloudnativerioja/cluster-demos, pull requests merged in 2023-09, with the labels that each got.

#21 Feat: add codeowners file to the repo
  .github/CODEOWNERS
Labels: enhancement

#23 fix(provider): update civo provider version
  infra/backend.tf
Labels: bug

#24 Fix: set the good default version and the right version to go
  config.yaml
  infra/.terraform.lock.hcl
  infra/main.tf
Labels: enhancement

#30 Feat: labeler and document first argo iteration
  .github/labeler.yml
  .github/workflows/pr-labeler.yaml
  README.md
Labels: documentation, size/M, ci/cd

#31 Feat: pull crds from cluster-applications
  argo-app/applications-pull.yaml
  argo-app/crds-pull.yaml
Labels: size/S, ArgoCD

#32 Fix: rename argo application and leave ns in this repo
  argo-app/crds-pull.yaml
  argo-app/namespace.yaml
Labels: ArgoCD, size/XS

#33 Feat: trigger pipeline
  README.md
Labels: documentation, size/XS
